form {
    display: flex;

    &:not(.inline) {
        flex-direction: column;
    }

    .form-input {
        display: flex;
        position: relative;
        flex: 1;

        label {
            align-self: flex-start;

            padding-right: 15px;
            margin-top: auto;
            margin-bottom: auto;

            text-align: right;

            &:after {
                content: ":";
            }

            &[required]:before {
                content: "* ";
                color: red;
            }
        }

        .input-wrapper {
            flex: 1;

            .feedback {
                position: absolute;
                font-size: small;

                &:not(:empty)::after {
                    content: ".";
                }
            }
        }
    }

    .form-input:not(:last-child) {
        margin-bottom: 30px;
    }

    &.inline {
        .form-input {
            margin-bottom: 0;
        }
    }
}
