@import "../../theme.less";

#mount {
    display: flex;
    flex-direction: column;
    height: 100%;

    > section {
        display: flex;
        flex: 1;

        > main {
            display: flex;
            flex: 1;

            box-shadow: @shadow-card;
            margin: 20px;
        }
    }
}
