form {
    max-width: 560px;

    .form-input {
        display: flex;

        label {
            padding-right: 15px;
            margin-top: auto;
            margin-bottom: auto;

            text-align: right;
            width: 140px;

            &:after {
                content: ":";
            }

            &[required]:before {
                content: "* ";
                color: red;
            }
        }

        input {
            flex: 1;
        }
    }

    .form-input:not(:last-child) {
        margin-bottom: 20px;
    }
}
