form#sign-up-form {
    width: 550px;

    .form-input {
        label {
            width: 140px;
        }
    }

    button {
        margin-left: auto;

        span {
            vertical-align: middle;
        }
    }
}
