@import "theme.less";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    overflow: auto;

    font-family: @font-primary;
    color: @text-primary;

    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
